<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99704980608-ruclimoojth9tisr39c88ln7clqhten8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99704980608-ruclimoojth9tisr39c88ln7clqhten8</string>
	<key>API_KEY</key>
	<string>AIzaSyCDNe3Zqi8ybBJGEV2VuT5VzrkcPG1U07g</string>
	<key>GCM_SENDER_ID</key>
	<string>99704980608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bioCreative</string>
	<key>PROJECT_ID</key>
	<string>artia-ffa1f</string>
	<key>STORAGE_BUCKET</key>
	<string>artia-ffa1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99704980608:ios:e72d06f1846aa4e0951265</string>
</dict>
</plist>